<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar') %>

    <div class="p-4">
        <form action="/admin/categories/edit/<%= data.id %>" method="post" class="card bg-base-100 shadow-md p-6">
          <h2 class="text-center text-xl font-bold">Add Category</h2>
      
          <% if (errors) { %>
            <p class="text-red-500 mt-2"><%= errors %></p>
          <% } %>
      
          <p class="mt-2"><b>CategoryId:</b> <%= data.id %></p>
      
          <label class="label mt-4">
            <span class="label-text">Category</span>
          </label>
          <input name="name" value="<%= data.name %>" type="text" class="input input-bordered w-full" aria-label="Category Name">
      
          <div class="mt-6">
            <button type="submit" class="btn btn-primary w-full">Add Category</button>
          </div>
        </form>
      </div>
      

    <%- include('../partials/_script') %>
</body>
</html>