<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>

<body>
    <%- include('../partials/_navbar') %>

        <div class="container p-4">
            <h2 class="text-center text-2xl font-bold mb-3">Add Product</h2>

            <form action="/admin/products/add" method="post" enctype="multipart/form-data"
                class="flex flex-col items-center gap-2">
                <div class="flex flex-col min-w-72 w-64">
                    <label class="label">Product</label>
                    <input name="name" type="text" class="input">
                    <% if (path) { %>
                        <% let index=path.split(",").findIndex((el)=> el === "name") %>
                            <p style="color: red;">
                                <%= msg.split(",")[index] %>
                            </p>
                            <% } %>
                </div>

                <div class="flex flex-col min-w-72">
                    <label class="label">Description</label>
                    <input name="description" type="text" class="input">
                    <% if (path) { %>
                        <% let index=path.split(",").findIndex((el)=> el === "description") %>
                            <p style="color: red;">
                                <%= msg.split(",")[index] %>
                            </p>
                            <% } %>
                </div>

                <div class="flex flex-col min-w-72">
                    <label class="label">Price</label>
                    <input name="price" type="number" class="input">
                    <% if (path) { %>
                        <% let index=path.split(",").findIndex((el)=> el === "price") %>
                            <p style="color: red;">
                                <%= msg.split(",")[index] %>
                            </p>
                            <% } %>
                </div>

                <div class="flex flex-col min-w-72">
                    <label class="label">Image</label>
                    <input name="image" accept="image/*" type="file" class="file-input">
                    <% if (path) { %>
                        <% let index=path.split(",").findIndex((el)=> el === "image") %>
                            <p style="color: red;">
                                <%= msg.split(",")[index] %>
                            </p>
                            <% } %>
                </div>

                <div class="flex flex-col min-w-72">
                    <label class="label">Stock</label>
                    <input name="stock" type="number" class="input">
                    <% if (path) { %>
                        <% let index=path.split(",").findIndex((el)=> el === "stock") %>
                            <p style="color: red;">
                                <%= msg.split(",")[index] %>
                            </p>
                            <% } %>
                </div>

                <div class="flex flex-col min-w-72">
                    <label class="label">Category</label>
                    <select style="margin: 10px 0px;" name="CategoryId" class="select">
                        <% data.forEach((el)=> { %>
                            <option value="<%= el.id %>">
                                <%= el.name %>
                            </option>
                            <% }) %>
                    </select>
                    <% if (path) { %>
                        <% let index=path.split(",").findIndex((el)=> el === "CategoryId") %>
                            <p style="color: red;">
                                <%= msg.split(",")[index] %>
                            </p>
                            <% } %>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Add Product</button>
                </div>
            </form>
        </div>

        <%- include('../partials/_script') %>
</body>

</html>