<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../_navbar') %>

    <div class="container">
        <h2 style="display: flex; justify-content: center; margin-bottom: 10px;">Add Product</h2>

        <% if (errors) { %>
            <p style="color: red;"><%= errors %></p>
        <% } %>

        <form action="/admin/products/add" method="post">
            <label>Product</label>
            <div style="margin: 10px 0px;">
                <input name="name" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <label>Description</label>
            <div style="margin: 10px 0px;">
                <input name="description" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <label>Price</label>
            <div style="margin: 10px 0px;">
                <input name="price" type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <label>Image</label>
            <div style="margin: 10px 0px;">
                <input name="image" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <label>Stock</label>
            <div style="margin: 10px 0px;">
                <input name="stock" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <label>Category</label>
            <select style="margin: 10px 0px;" name="CategoryId" class="form-select" aria-label="Default select example">
                <% data.forEach((el) => { %>
                    <option value="<%= el.id %>"><%= el.name %></option>
                <% }) %>
              </select>
            <div>
                <button type="submit" value="submit" class="btn btn-primary">Add Product</button>
            </div>
        </form>
    </div>

    <%- include('../_script') %>
</body>
</html>