<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .col {
            flex: 0 0 25%;
            max-width: 25%;
        }

        p {
            font-size: 14px;
        }

        .card {
            transition: transform 0.3s ease-in-out;
        }

        a:hover .card {
            transform: scale(1.05);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Toko Pudidi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/admin/products">Home</a>
                    <a class="nav-link" href="/admin/products/add">Add Product</a>
                    <a class="nav-link" href="/admin/products/empety">empty product</a>
                    <a class="nav-link" href="/admin/categories">Category</a>
                </div>
            </div>
            <form class="d-flex align-items-center gap-2" role="search">
                <select class="form-select" name="filter">
                    <option value="">Category</option>
                    <% categories.forEach((el) => { %>
                        <option value="<%= el.id %>"><%= el.name %></option>
                    <% }) %>
                </select>

                <input name="name" class="form-control" type="search" placeholder="Search" aria-label="Search">

                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container my-4">
        <% if (deleted) { %>
            <h5 style="color: red; display: flex; justify-content: center;">product "<%= deleted %>" deleted</h5>
            <% } %>
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <% products.forEach((el)=> { %>
                        <div class="col">
                            <a href="/admin/products/<%= el.id %>" class="text-decoration-none text-dark">
                                <div class="card">
                                    <img src="<%= el.image %>" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= el.name %>
                                        </h5>
                                        <p class="card-text">
                                            <%= rupiah(el.price) %>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }) %>
                </div>
    </div>

    <%- include('../_script') %>
</body>

</html>