<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 14px;
        }

        .card {
            transition: transform 0.3s ease-in-out;
        }

        a:hover .card {
            transform: scale(1.05);
        }
    </style>
</head>

<body>
    <%- include('../partials/_navbar') %>

        <div class="p-4">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                <% products.forEach((el)=> { %>
                    <a href="/admin/products/<%= el.id %>" class="text-decoration-none text-dark">
                        <div class="card shadow-xl">
                            <figure><img src="<%= el.image %>"></figure>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= el.name %>
                                </h5>
                                <p class="card-text">
                                    <%= rupiah(el.price) %>
                                </p>
                            </div>
                        </div>
                    </a>
                    <% }) %>
            </div>
        </div>

        <%- include('../partials/_script') %>
</body>

</html>