<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Products</title>
    <style>
        p {
            font-size: 14px;
        }

        .card {
            transition: transform 0.3s ease-in-out;
        }

        a:hover .card {
            transform: scale(1.05);
        }
    </style>
</head>

<body>
    <%- include('../partials/_navbar') %>

        <main class="p-4">
            <form class="flex justify-center items-center gap-2 mb-4" role="search">
                <select class="select" name="filter">
                    <option value="">-- Category --</option>
                    <% categories.forEach((el)=> { %>
                        <option value="<%= el.id %>">
                            <%= el.name %>
                        </option>
                        <% }) %>
                </select>

                <label class="input">
                    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none"
                            stroke="currentColor">
                            <circle cx="11" cy="11" r="8"></circle>
                            <path d="m21 21-4.3-4.3"></path>
                        </g>
                    </svg>
                    <input type="search" placeholder="Search" />
                </label>

                <button class="btn btn-outline btn-success" type="submit">Search</button>
            </form>

            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                <% products.forEach((el)=> { %>
                    <a href="/admin/products/<%= el.id %>" class="text-decoration-none text-dark">
                        <div class="card shadow-xl">
                            <figure><img src="<%= el.image %>"></figure>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= el.name %>
                                </h5>
                                <p class="card-text">
                                    <%= rupiah(el.price) %>
                                </p>
                            </div>
                        </div>
                    </a>
                    <% }) %>
            </div>
        </main>

        <%- include('../partials/_script') %>
</body>

</html>