<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .col {
            flex: 0 0 25%;
            max-width: 25%;
        }

        .card {
            transition: transform 0.3s ease-in-out;
        }

        a:hover .card {
            transform: scale(1.05);
        }
    </style>
</head>

<body>
    <%- include('../partials/_navbar') %>

    <div class="p-4">
        <div class="card card-side bg-base-100 shadow-xl">
          <figure class="w-1/3">
            <img src="<%= data.image %>" class="rounded-l-lg object-cover w-full h-full" alt="..." />
          </figure>
          <div class="w-2/3 p-6 flex flex-col justify-between">
            <div>
              <h3 class="text-2xl font-bold"><%= data.name %></h3>
              <p class="text-gray-600"><%= data.description %></p>
              <h3 class="text-xl font-bold mt-2"><%= rupiah(data.price) %></h3>
              <p class="text-sm"><b>Stock:</b> <%= data.stock %></p>
            </div>
            <div>
              <div class="flex gap-4 mb-4">
                <a href="/user/products/buy/<%= data.id %>" class="btn btn-primary">Buy</a>
                <a href="/user/cart/add/<%= data.id %>" class="btn btn-success">Add to Cart</a>
              </div>
              <p class="text-sm text-gray-400"><%= timeSince(data.updatedAt) %></p>
            </div>
          </div>
        </div>
      </div>
      

      <%- include('../partials/_script') %>
</body>

</html>